body { 
    font-family: Calibri, sans-serif;
}
#container {
text-align: center;
}

table {
border-collapse: collapse; 
font-size: 2em; 
margin: 0 auto; 
}

colgroup, tbody { 
    border: solid medium;
}

td { 
border: solid thin; 
height: 1.4em;
 width: 1.4em; 
text-align: center; 
padding: 0; 
}

button { 
margin-top: 15px; 
font-size: 1.5em;
}

.padd{
padding-top: 10px;
}


.style-button {
background-color: #555555;
color: white;
padding: 10px;
border: 2px solid black; 
border-radius: 20%;
}

.style-button:hover{
background-color: white;
color: black;
cursor: pointer;
}